<!DOCTYPE html>
<html>
<head>
    <title>Poll Page</title>
</head>
<body>
{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <li>
        <a href="{% url 'polls:detail' question.id %}"><span>question.question_text</span></a>
    </li>
    
    {% endfor %}
</ul>

{% endif %}


</body>
</html>