<!DOCTYPE html>
<html>

    <head>
        <title>Result Page</title>
    </head>

    <body>

        <h1>{{question}}</h1>
        <ul>
            {% for choice in question.choice_set.all %}
            <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>

            {% endfor %}
        </ul>


    </body>

</html>
